<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
           
    <!-- Navbar brand -->
    <logo><a class="navbar-brand" routerLink="/home">My Protected App</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbRippleRadius routerLink="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbRippleRadius routerLink="/profile">Profile</a>
            </li>
        </ul>
        <!-- Links -->

        <form class="form-inline my-1">
            <a class="nav-link waves-light" mdbRippleRadius><span style="color:white" (click)="logout()">Logout</span></a>
        </form>

    </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>
 <!-- Routed views go here -->
         
